@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  height: 200px;
  display: flex;
  justify-content: center;
}

.circle {
  position: relative;
  top: 110px;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  background-color: rgb(74, 74, 74);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  left: 10px;
}

.grey-container {
  width: 100vw;
  background-color: rgb(74, 74, 74);
}
.grey-container a {
  text-decoration: none;
}

.container {
  width: 100%;
  background-color: rgb(74, 74, 74);
  padding-top: 90px;
}

section {
  width: 1280px;
  margin: auto;
}

.titre {
  color: rgb(90, 195, 126);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
}

.texte-entete {
  width: 1000px;
  margin: auto;
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.carrousel {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.arrow-block {
  display: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  background-color: white;
  border-radius: 10px;
  margin: 50px 0;
  width: 300px;
  height: 400px;
  overflow: hidden;
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  transition: all 0.25s ease;
}
.card img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.card .card-text {
  font-weight: 600;
  line-height: 21px;
  padding: 0 20px;
  border-radius: 10px;
  height: 105px;
  overflow: hidden;
}
.card:hover {
  color: rgb(90, 195, 126);
  cursor: pointer;
}
.card .card-footer {
  display: flex;
  color: rgb(173, 173, 173);
  padding: 1rem;
}
.card .card-footer .clock {
  margin-right: 1em;
}

.arrow-cont {
  height: 450px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow-left,
.arrow-right,
.arrow-left-responsive,
.arrow-right-responsive {
  height: 50px;
}
.arrow-left:hover,
.arrow-right:hover,
.arrow-left-responsive:hover,
.arrow-right-responsive:hover {
  cursor: pointer;
}
.arrow-left:hover svg path,
.arrow-right:hover svg path,
.arrow-left-responsive:hover svg path,
.arrow-right-responsive:hover svg path {
  fill: white;
}

.bureau {
  height: 600px;
}
.bureau .flex-container {
  margin-top: 4%;
  display: flex;
}
.bureau .flex-container .aside-text {
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgb(90, 195, 126);
  font-weight: 800;
}
.bureau .flex-container .aside-text .text {
  padding: 50px 20px 20px 20px;
}
.bureau .flex-container .aside-text .contact-btn {
  height: 80px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  background-image: linear-gradient(180deg, #5ac47e 0%, #41988d 100%);
  cursor: pointer;
}
.bureau .flex-container .aside-text .contact-btn:hover {
  background-image: linear-gradient(180deg, #41988d 0%, #5ac47e 100%);
}

@media screen and (min-width: 921px) and (max-width: 1280px) {
  section {
    width: calc(100vw - 10%);
  }
  section .texte-entete {
    width: calc(100vw - 40%);
  }
  section .carrousel {
    flex-wrap: wrap;
  }
  section .carrousel .card3 {
    display: none;
  }
  section .flex-container {
    flex-direction: column-reverse;
  }
  section .flex-container .photo {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }
  section .flex-container .photo img {
    width: 600px;
  }
  section .flex-container .aside-text {
    justify-content: center;
    align-items: center;
  }
  section .flex-container .aside-text .text {
    width: 600px;
  }
  section .flex-container .contact-btn {
    width: 300px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 920px) {
  section {
    width: 100vw;
  }
  section .texte-entete {
    width: calc(100vw - 20%);
  }
  section .carrousel {
    width: 100%;
    flex-wrap: wrap;
  }
  section .carrousel .card3 {
    display: none;
  }
  section .arrow-left, section .arrow-right {
    display: none;
  }
  section .arrow-block {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
  }
  section .flex-container {
    flex-direction: column-reverse;
  }
  section .flex-container .photo {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }
  section .flex-container .photo img {
    width: 600px;
  }
  section .flex-container .aside-text {
    justify-content: center;
    align-items: center;
  }
  section .flex-container .aside-text .text {
    width: 600px;
  }
  section .flex-container .contact-btn {
    width: 300px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  section {
    width: calc(100vw - 10%);
  }
  section .texte-entete {
    width: calc(100vw - 20.5%);
  }
  section .carrousel {
    flex-wrap: wrap;
  }
  section .carrousel .card2, section .carrousel .card3 {
    display: none;
  }
  section .arrow-left, section .arrow-right {
    display: none;
  }
  section .arrow-block {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
    margin: 0 2%;
  }
  section .flex-container {
    flex-direction: column-reverse;
  }
  section .flex-container .photo {
    display: flex;
    justify-content: center;
  }
  section .flex-container .photo img {
    width: 320px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 25%;
  }
  section .flex-container .aside-text {
    justify-content: center;
    align-items: center;
  }
  section .flex-container .contact-btn {
    width: 300px;
    margin: 12% 0;
  }
}

/*# sourceMappingURL=style.css.map */
