$accent-color-green: rgba(90, 195, 126, 1);
$accent-color-blue: rgba(65, 152, 141, 1);
$font-color: rgba(90, 195, 126, 1);
$grey: rgba(74, 74, 74, 1);
$light-grey: rgba(173, 173, 173, 1);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import 'capitales_24_32';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
header {
  height: 200px;
  display: flex;
  justify-content: center;
}
.circle {
  position: relative;
  top: 110px;
  $size: 180px;
  width: $size;
  height: $size;
  border-radius: calc($size / 2);
  background-color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: relative;
  left: calc(100px - 90px);
}
.grey-container {
  width: 100vw;
  background-color: $grey;
  a {
    text-decoration: none;
  }
}
.container {
  width: 100%;
  background-color: $grey;
  padding-top: 90px;
}
section {
  width: 1280px;
  margin: auto;
}
.titre {
  color: $font-color;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
}
.texte-entete {
  width: 1000px;
  margin: auto;
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}
.carrousel {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}
.arrow-block{
    display: none;

  }

// card
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card {
  //   gap: 2rem;
  background-color: white;
  border-radius: 10px;
  margin: 50px 0;
  width: 300px;
  height: 400px;
  overflow: hidden;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    transition: all 0.25s ease;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  .card-text {
    font-weight: 600;
    line-height: 21px;
    padding: 0 20px;
    border-radius: 10px;
    height: 105px;
    overflow: hidden;
  }
  &:hover {
    color: $font-color;
    cursor: pointer;
  }

  .card-footer {
    display: flex;
    color: $light-grey;
    padding: 1rem;
    .clock {
      margin-right: 1em;
    }
  }
}
.arrow-cont {
  height: 450px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arrow-left,
.arrow-right,
.arrow-left-responsive,
.arrow-right-responsive {
  height: 50px;
  &:hover {
    cursor: pointer;
    svg path {
      fill: white;
    }
  }
}

// section 2 (bureau)

.bureau {
  height: 600px;

  .flex-container {
    margin-top: 4%;
    display: flex;

    .aside-text {
      padding: 0 20px;
      @include texte-capitales;
      text-align: center;
      color: $font-color;
      
      font-weight: 800;
      .text {
        padding: 50px 20px 20px 20px;
      }
      .contact-btn {
        height: 80px;
        border-radius: 10px;
        color: white;
        @include texte-capitales;
        font-weight: 700;
        background-image: linear-gradient(180deg, #5ac47e 0%, #41988d 100%);

        cursor: pointer;
        &:hover {
          background-image: linear-gradient(180deg, #41988d 0%, #5ac47e 100%);
        }
      }
    }
  }
}


// media queries pour tablettes

@media screen and (min-width: 921px) and (max-width: 1280px) {
  section {
    width: calc(100vw - 10%);
    .texte-entete {
      width: calc(100vw - 40%);
    }
    .carrousel {
      flex-wrap: wrap;
      .card3 {
        display: none;
      }
    }

    .flex-container {
      flex-direction: column-reverse;
      .photo {
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        img{
          width: 600px;
        }

      }
      .aside-text{
        justify-content: center;
        align-items: center;
        .text{
            width: 600px;
        }
      }
      .contact-btn {
        width: 300px;
        margin-bottom: 20px;

      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
    section {
      width: 100vw;
      .texte-entete {
        width: calc(100vw - 20%);
      }
      .carrousel {
        width: 100%;
        flex-wrap: wrap;
        .card3 {
          display: none;
        }
      }
      .arrow-left, .arrow-right{
        display: none;
      }
          .arrow-block{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10%;
      }
  
      .flex-container {
        flex-direction: column-reverse;
        .photo {
          display: flex;
          justify-content: center;
          margin-bottom: 10%;
          img{
            width: 600px;
          }
  
        }
        .aside-text{
          justify-content: center;
          align-items: center;
          .text{
              width: 600px;
          }
        }
        .contact-btn {
          width: 300px;
          margin-bottom: 35px;
  
        }
      }
    }
  }

// media queries smartphones

@media screen and (min-width: 320px) and (max-width: 767px) {
    section {
        width: calc(100vw - 10%);
        .texte-entete {
          width: calc(100vw - 20.5%);
        }
        .carrousel {
          flex-wrap: wrap;
          .card2, .card3 {
            display: none;
          }
        }
        .arrow-left, .arrow-right{
            display: none;
          }
              .arrow-block{
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 10%;
            margin: 0 2%;
          }
    
        .flex-container {
          flex-direction: column-reverse;
          .photo {
            display: flex;
            justify-content: center;
            
            img{
              width: 320px;
              height: 250px;
              border-radius: 10px;
              margin-bottom: 25%;
            }
    
          }
          .aside-text{
            justify-content: center;
            align-items: center;
          }
          .contact-btn {
            width: 300px;
            margin: 12% 0;
    
          }
        }
      }
    }


